#header{
height:100px;
width:900px;
background-color:#DA21FF;
text-align: center;
border-radius: 10px;
}

#navbar{
height:50px;
width:800px;
background-color:#DA21FF;
text-align: center;
border-radius: 10px;
}

#navbar ul li a{
text-decoration: none;
}

#navbar ul li{
display:inline;
}

#footer{
height:100px;
width:900px;
background-color:#3692FF;
text-align: center;
border-radius: 10px;
}

#aside{
height:150%;
width:100%;
background-color:#DA21FF;
text-align: left;
border-radius: 10px;

}
.article{
height:100%;
width:100%;
text-align: center;
background-color:#3692FF;
border-radius: 10px;

}
.section{
height:100%;
width:50%;
text-align: center;
background-color:green;
border-radius: 10px;	
}

#content{
height:200px;
width:800px;
text-align: center;
}

.float_left {
float: right;
}

.float_right {
float: right;
}

.clear_both{
clear:both;
}

div{
margin-bottom:10px;
}

/*
un comment this to center stuff on the page
*/
html{
display: table;
margin:auto;
}

body{
display: table-cell;
vertical-align: middle;
background-image:url(http://t2.gstatic.com/images?q=tbn:ANd9GcSURktl38NKGVh7m8KecUfUkdQ14V4HLGWfYqJ9S8T6-DFwbm5M);
}
img{
	height: 150px;
	float: right;
}